body {
    font-family: 'Economica', sans-serif;
}

/*Nav bar start*/
.nav-bar {
    width: 100%;
    margin: 20px 0 0 0;
    background-color: #1aa4ff;
    display: block;
    height: 70px;
}

.nav-bar ul {
    list-style: none;
    text-align: center;
    width: 900px;
    padding: 0;
    margin: 0;
    display: inline;
}

.nav-bar ul li {
    float: left;
    line-height: 50px;
    left: 50%;
 }

.title a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    transition: .3s background-color;
    cursor: pointer;
}
/*Nav bar finish*/

.nav-bar ul li a:hover {
    color: #a0a0a2;
    background: #eeeeee;
}

/*Submenu*/
.showme {
    width: 100%;
    margin: 0;
    background-color: #eeeeee;
    display: block;
}

ul.showme {
    /*width: 900px;
    padding: 0;
    margin: 0;*/
    display: inline;
}

ul.showme li {
    float: left;
    /*position: relative;*/
    left: 5%;
    list-style-type: none;
}

.subtitle a {
    font-family: Arial, sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #898788;
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
    cursor: pointer;
}

ul.showme {
    display: none;
}
    
.hoverme:hover ~ .showme {
    display: inline;
}