* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Economica', sans-serif;
}

div.nav-bar {
    background-color: #1aa4ff;
    margin: 25px 0;
   
}

.nav-bar ul {
    list-style-type: none;
    overflow: hidden;
    /*width: 900px;*/
    height: 40px;
    margin: 0px auto;

}

.nav-bar ul li {
    width: 120px;
    height: 40px;
    margin: 0px 4px;
    float: left;
}

.menu a {
    display: block;
    width: 120px;
    height: 40px;
    padding: 0px 20px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.nav-bar ul li.menu a:hover {
    color: #a0a0a2;
    background: #eeeeee;
}

ul.submenu-wrapper {
    list-style-type: none;
    overflow: hidden;
    /*width: 900px;*/
    height: 40px;
    margin: 0px auto;
    border: 2px solid red;
}

ul.submenu-wrapper li {
    width: 120px;
    height: 40px;
    margin: 0px 4px;
    float: left;
}

.submenu a {
    display: inline-block;
    width: 120px;
    height: 40px;
    padding: 0px 20px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    color: #898788;
    cursor: pointer;
}