body {
	font: 16px Arial, Helvetica, sans-serif;
}

.color-switchers form {
	display: inline-block;
	margin: 10px;
}

.color-switchers input[type="checkbox"] {
	display: none;
}

.color-switchers label {
	text-decoration: underline;
	margin-right: 30px;
}

.color-switchers label[for="red-switcher"] {
	color: red;
	
}

.color-switchers label[for="green-switcher"] {
	color: #31A935;
}

.color-switchers label[for="blue-switcher"] {
	color: blue;
}

.color-switchers input[type="checkbox"]:checked+label {
	opacity: 0.3
}

.color-switchers span {
	color: white;
	border-radius: 7px;
	font-weight: bold;
	padding: 5px 4px 3px;
	margin: 3px;
}

.color-switchers span.red-button {
	background-color: red;
}

.color-switchers span.green-button {
	background-color: green;
}

.color-switchers span.blue-button {
	background-color: blue;
}

.color-switchers input[name="red-switcher"]:checked ~ .red-button,
.color-switchers input[name="green-switcher"]:checked ~ .green-button, 
.color-switchers input[name="blue-switcher"]:checked ~ .blue-button {
	display: none;
}

 