.buttons input[type="checkbox"] {
	display: none;
}

label[for="red-button"]{
	color: red;
	text-decoration: underline;
}

label[for="green-button"]{
	color: green;
	text-decoration: underline;
}

label[for="blue-button"]{
	color: blue;
	text-decoration: underline;
}

.buttons input[type="checkbox"]:checked{
	opacity: 0.5
}

.buttons span {
	color: white;
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	text-decoration: underline;
	display: none;
}


input [name="red"]:checked ~.red {
	display: inline-block;
	background: blue;
	color: white;
}
input [name="green"]:checked ~.green {
	display: inline-block;
	background: blue;
	color: white;
}
input [name="blue"]:checked ~.blue {
	display: inline-block;
	background: blue;
	color: white;
}
